@import './fonts.scss';
@import 'modules/normalize.css';

* {
  outline: none;
}
html,
body {
  height: 100%;
  @include font-normal();
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

:global {
  #app{
    height: 100%;
  }
}
