@import './fonts.scss';
@import 'modules/normalize.css';

body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
}


ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
