$white: #fff;
$opacity-70-white: rgba(255,255,255, .7);
$opacity-20-white: rgba(255,255,255, .2);
$black-light: #303030;
$black-light-opacity: rgba(48, 48, 48, .3);

$orange: #f68a33;
$orange-dark: #e97415;
